services:
  - type: web
    name: ngo-backend
    env: node
    branch: main
    rootDir: backend
    buildCommand: "npm install"
    startCommand: "npm start"
    healthCheckPath: "/"
    autoDeploy: true
    envVars:
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
